body{
    background: #333133;
    color: #ffc403;
    margin: 0;
    font-family: 'Poppins';font-size: 18px;
    height: auto;
    width: auto;
    overflow: hidden;
    flex-direction: column;
}
.container{
    background: #262626;
    width: 400px;
    height: 600px;
    margin: 6% auto;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}
.title{
    align-items: center;
    position: relative;
    text-align: center;
}
.label-input100{
    font-family: 'Poppins';
    font-size: 14px;
    color: #ffc403;
    line-height: 1.5;
    padding-left: 7px;
    float: left;
    margin: 0 0 0 15px;
}
.txtfield-0{
    position: relative;
    width: 90%;
    height: 40px;
    font-family: 'Poppins';
    font-size: 16px;
    color: #ffc403;
    display: block;
    background: transparent;
    margin: 20px;
    border: none;
    border-bottom: #333133 solid;
    outline: none;
}
.txtfield-1{
    position: relative;
    width: 90%;
    height: 40px;
    font-family: 'Poppins';
    font-size: 16px;
    color: #ffc403;
    display: block;
    background: transparent;
    margin: 20px 20px 0 20px;
    border: none;
    border-bottom: #333133 solid;
    outline: none;
}

.txtfield input{
    border: none;
    outline: none;
    background: none;
    border: none;

}
button[type="submit"]{
    display: block;
    text-transform: uppercase;
    font-family: 'Poppins';
    font-size: 20px;
    background-color: #262626;
    color: #ffc403;
    cursor: pointer;
    outline: none;
    width: 350px;
    align-items: center;
    border: 2px #ffc403 solid;
    border-radius: 20px;
    margin: 80px 0 0 25px;
    transition: 0.5s;
}
button[type="submit"]:hover{
    color: #262626;
    background: #ffc403;
}
.signuplink{
    font-family: 'Poppins';
    color: #ffc403;
    margin: 200px 0 0 0;
    font-size: 12px;
}
.signuplink1{
    text-decoration: none;
    color: #fff;
}
.signuplink1:hover{
    text-decoration: underline;
}
.forgot{
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    float: right;
}
.forgot:hover{
    text-decoration: underline;
}
/* .password{
    position: relative;
    width: 90%;
    height: 40px;
} */